.banner{
    padding:5%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    background:url('../images/landingpage/banner.png');
    background-size:cover;
    height:100vh;
    background-position:center center;
    @media(min-width:568px){
      height:auto;
    }
    @media(min-width:992px){
      flex-direction: row;
      justify-content: space-between;
      height:660px;
      align-items:flex-start;
    }
    
    .banner-inner{
        margin-bottom:30px;
        @media(min-width:768px){
          max-width:400px;
        }
        @media(min-width:992px){
          margin-top:100px;
          max-width:570px;
        }

       h1{
        @include h1styles(); 
        font-size:30px;
        line-height:30px;
        margin-bottom:20px;
        color:#ffffff;

       }
       p{
        @include pstyles();
        color:rgba(255, 255, 255, 1);
        margin-bottom:30px;
       }
       .input-div{
        display: flex;
        align-items:center;
        position: relative;
        justify-content:space-between;
        .inner-input{
            padding:0 10px 0 17px;
            width:80%;
            border-radius:5px;
            border: 1px solid $yellow;
            background-color: $grey;
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        .dropdown{
          position:absolute;
          left:0;
          transition:all 0.35s ease;
          top:120%;
          background:#2A2A2A;
          border-radius:5px;
          padding:10px;
          width:95%;
          max-height:0;
          padding:0;
          overflow: hidden;
          max-width:426px;
          .drop-down{
            @include dropDown();
          }
          .header-top{
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items:center;
            margin-bottom:20px;
            .doner-triangle{
              border-color:$white;
              span{
                background:$white;
                
                &:before, &:after{
                  background:$white;
                }
              }
            }
            h4{
              color:$white;
              font-family:$medium;
              font-size:16px;
            }
           
          }
          h5{
            color:$yellow;
            font-family:$medium;
            font-size:13px;
            position:relative;
            display: block;
            &:before{
              height:2px;
              width:70%;
              content:"";
              background:$white;
              right:0;
              top:50%;
              position:absolute;
            }
          }
          .last-h5{
            &:before{
              width:50%;
            }
          }
          .dropdown-inner{
            display: flex;
            justify-content:space-between;
            flex-wrap:wrap;
            margin-bottom:10px;
            margin-top:20px;
            .drop-down{
              width:48.5%;
              margin-bottom:10px;
            }

          }
        }
        .opened{
          max-height:500px;
          padding:10px;
        }
        button{
          width:100%;
          margin-bottom:0;
        }
       }
       .doner-triangle{
        padding:13px 18px 13px 8px;
        position:relative;
        border:2px solid $yellow;
         border-radius:50%;
        span{
            width:10px;
            height:2px;
            background:$yellow;
            position:absolute;
            border-radius: 45px;
            &:before{
              width: 166%;
    left: -4px;
    height: 100%;
    position: absolute;
    background: #F8BD14;
    border-radius: 45px;
    top: -5px;
    content: "";
            }
            &:after{
              width: 50%;
    left: 27%;
    height: 100%;
    position: absolute;
    background: #F8BD14;
    border-radius: 45px;
    top: 5px;
    content: "";
            }
        }
       }
       i{
        color:rgba(248, 189, 20, 1);
        font-size:15px;
       }
       button{
        width:100%;
        margin-bottom:10px;
        font-family:$medium;
        text-transform:uppercase;
        font-weight:900;
        border-radius:3px;
        height:40px;
        background:$yellow;
        border:1px solid $yellow;
        color:$black;
        @media(min-width:992px){
          width:80%;
          height:50px;
          margin-bottom:30px;
        }
       }
       .middle{
        background:$black;
        color:$yellow;
       }
    }
.top{
        margin-top:100px;
        @media(min-width:992px){
          max-width:520px;
        }
    }


.form {
    width: 100%;
    position: relative;
    height: 45px;
    overflow: hidden;
    
    
  }
  
  .form input {
    width: 80%;
    height: 100%;
    color: #fff;
    padding-top: 20px;
    background: transparent;
    border: none;
  }
  .form label {
    position: absolute;
    bottom: 9px;
    left: 0px;
    font-size: 12px;
    font-style: italic;
    color: #ffffff;
    font-family: $regular;
    font-weight: 400;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .form label::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }
  
  .content-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 5px;
    transition: all 0.3s ease;
  }
  .form input:focus {
    outline: none;
  }
  .form input:focus + .label-name .content-name,
  .form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    left: 0px;
    color: #fce38a;
  }
  .form input:focus + .label-name::after,
  .form input:valid + .label-name::after {
    transform: translateX(0%);
  }
  
}
