$grey:#2A2A2A;
$yellow:#F8BD14;
$black:#1d1d1d;
$white:#ffffff;
$blue:#148BF8;
$red:#890620;
$lightred:#980B27;
$medium:'Cera Pro Black';
$bold:'Montserrat-Black';
$semibold:'Montserrat-Semibold';
$regular:'Avenir-Next-Regular';
